<div class="row">
    <div class="col-2">
        <img class="img-thumbnail img-circle" [src]= "artist.images | noimage" [alt]= artist.name>
    </div>
    <div class="col">
        <h3>{{ artist.name }}</h3>
        <hr>
        <a [href]="artist.external_urls.spotify">Ir a la página del artista</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Imagen</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Escuchar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let track of tracks">
                    <td>
                        <img class="img-thumb" [src]="track.album.images | noimage" [alt]="track.name">
                    </td>
                    <td class="white">{{ track.album.name }}</td>
                    <td class="white">{{ track.name }}</td>
                    <td>
                        <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
