<div class="card-columns mt-3">
    <div class="card" *ngFor = "let item of items">
        <img [src]= "item.images | noimage" class="card-img-top" [alt]= item.name>
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <span *ngFor = "let artist of item.artists" class="badge badge-primary">{{ artist.name }}</span>
          <button (click) = "showMore(item)" class="btn btn-outline-primary btn-block mt-2">
            Show more..
          </button>
        </div>
    </div>    
</div>